<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF8"/>
    <title>Michigan Foot Traffic Home</title>
</head>
<body>
    <h1>Welcome to the Michigan Foot Traffic Browser!</h1>

    <form action='/results' method='POST'>
        <p>The form below allows you to visualize foot traffic from December 2019 to March 2020 for Baked Goods Stores, Retail Bakeries, Book Stores and Museums in the State of Michigan! </p>
    <p>
    Sort by: <br/>
        <input type='radio' name='sort' 
                value='December Visits' checked='checked'/> December Visits <br/>
        <input type='radio' name='sort' 
                value='January Visits' checked='checked'/> January Visits <br/>
        <input type='radio' name='sort' 
                value='February Visits' checked='checked'/> February Visits <br/>
        <input type='radio' name='sort' 
                value='March Visits'/> March Visits <br/>
    </p>

    <p>
    Sort direction: <br/>
        <input type='radio' name='dir'
            value='desc' checked='checked'/>High to Low<br/>
        <input type='radio' name='dir'
            value='asc'/>Low to High<br/>
    </p>

    <p>
        Filter by City: <br/>
        <select name='City'>
            <option value='All'>All cities</option>
            <option value='Ada'>Ada</option>'
            <option value='Adrian'>Adrian</option>'
            <option value='Alanson'>Alanson</option>'
            <option value='Albion'>Albion</option>'
            <option value='Alden'>Alden</option>'
            <option value='Algonac'>Algonac</option>'
            <option value='Allen Park'>Allen Park</option>'
            <option value='Allendale'>Allendale</option>'
            <option value='Alma'>Alma</option>'
            <option value='Almont'>Almont</option>'
            <option value='Alpena'>Alpena</option>'
            <option value='Ann Arbor'>Ann Arbor</option>'
            <option value='Armada'>Armada</option>'
            <option value='Atlanta'>Atlanta</option>'
            <option value='Auburn Hills'>Auburn Hills</option>'
            <option value='Bangor'>Bangor</option>'
            <option value='Baraga'>Baraga</option>'
            <option value='Battle Creek'>Battle Creek</option>'
            <option value='Bay City'>Bay City</option>'
            <option value='Belleville'>Belleville</option>'
            <option value='Belmont'>Belmont</option>'
            <option value='Benton Harbor'>Benton Harbor</option>'
            <option value='Berkley'>Berkley</option>'
            <option value='Berrien Sprgs'>Berrien Sprgs</option>'
            <option value='Berrien Springs'>Berrien Springs</option>'
            <option value='Bessemer'>Bessemer</option>'
            <option value='Beverly Hills'>Beverly Hills</option>'
            <option value='Big Rapids'>Big Rapids</option>'
            <option value='Birch Run'>Birch Run</option>'
            <option value='Birmingham'>Birmingham</option>'
            <option value='Breckenridge'>Breckenridge</option>'
            <option value='Bridgeport'>Bridgeport</option>'
            <option value='Bridgman'>Bridgman</option>'
            <option value='Brighton'>Brighton</option>'
            <option value='Brimley'>Brimley</option>'
            <option value='Brooklyn'>Brooklyn</option>'
            <option value='Brown City'>Brown City</option>'
            <option value='Buckley'>Buckley</option>'
            <option value='Cadillac'>Cadillac</option>'
            <option value='Caledonia'>Caledonia</option>'
            <option value='Calumet'>Calumet</option>'
            <option value='Canton'>Canton</option>'
            <option value='Caro'>Caro</option>'
            <option value='Caspian'>Caspian</option>'
            <option value='Cass City'>Cass City</option>'
            <option value='Cassopolis'>Cassopolis</option>'
            <option value='Cedar Springs'>Cedar Springs</option>'
            <option value='Center Line'>Center Line</option>'
            <option value='Charlevoix'>Charlevoix</option>'
            <option value='Cheboygan'>Cheboygan</option>'
            <option value='Chelsea'>Chelsea</option>'
            <option value='Chesterfield'>Chesterfield</option>'
            <option value='Clarkston'>Clarkston</option>'
            <option value='Clawson'>Clawson</option>'
            <option value='Clinton Township'>Clinton Township</option>'
            <option value='Clio'>Clio</option>'
            <option value='Coldwater'>Coldwater</option>'
            <option value='Coleman'>Coleman</option>'
            <option value='Coloma'>Coloma</option>'
            <option value='Columbus'>Columbus</option>'
            <option value='Commerce Township'>Commerce Township</option>'
            <option value='Commerce Twp'>Commerce Twp</option>'
            <option value='Comstock Park'>Comstock Park</option>'
            <option value='Concord'>Concord</option>'
            <option value='Coopersville'>Coopersville</option>'
            <option value='Covert'>Covert</option>'
            <option value='Crystal Falls'>Crystal Falls</option>'
            <option value='Davison'>Davison</option>'
            <option value='De Tour Village'>De Tour Village</option>'
            <option value='Dearborn'>Dearborn</option>'
            <option value='Dearborn Heights'>Dearborn Heights</option>'
            <option value='Detroit'>Detroit</option>'
            <option value='Dexter'>Dexter</option>'
            <option value='Douglas'>Douglas</option>'
            <option value='Dowagiac'>Dowagiac</option>'
            <option value='East China'>East China</option>'
            <option value='East Lansing'>East Lansing</option>'
            <option value='East Tawas'>East Tawas</option>'
            <option value='Eastpointe'>Eastpointe</option>'
            <option value='Edmore'>Edmore</option>'
            <option value='Edwardsburg'>Edwardsburg</option>'
            <option value='Elk Rapids'>Elk Rapids</option>'
            <option value='Empire'>Empire</option>'
            <option value='Erie'>Erie</option>'
            <option value='Escanaba'>Escanaba</option>'
            <option value='Essexville'>Essexville</option>'
            <option value='Evart'>Evart</option>'
            <option value='Fairview'>Fairview</option>'
            <option value='Farmington'>Farmington</option>'
            <option value='Farmington Hills'>Farmington Hills</option>'
            <option value='Farwell'>Farwell</option>'
            <option value='Fennville'>Fennville</option>'
            <option value='Fenton'>Fenton</option>'
            <option value='Ferndale'>Ferndale</option>'
            <option value='Flint'>Flint</option>'
            <option value='Flushing'>Flushing</option>'
            <option value='Fort Gratiot'>Fort Gratiot</option>'
            <option value='Fowlerville'>Fowlerville</option>'
            <option value='Frankenmuth'>Frankenmuth</option>'
            <option value='Frankfort'>Frankfort</option>'
            <option value='Fraser'>Fraser</option>'
            <option value='Galesburg'>Galesburg</option>'
            <option value='Garden City'>Garden City</option>'
            <option value='Gaylord'>Gaylord</option>'
            <option value='Glen Arbor'>Glen Arbor</option>'
            <option value='Goodrich'>Goodrich</option>'
            <option value='Grand Blanc'>Grand Blanc</option>'
            <option value='Grand Haven'>Grand Haven</option>'
            <option value='Grand Ledge'>Grand Ledge</option>'
            <option value='Grand Rapids'>Grand Rapids</option>'
            <option value='Grandville'>Grandville</option>'
            <option value='Grass Lake'>Grass Lake</option>'
            <option value='Greenville'>Greenville</option>'
            <option value='Grosse Ile'>Grosse Ile</option>'
            <option value='Grosse Pointe Woods'>Grosse Pointe Woods</option>'
            <option value='Hamtramck'>Hamtramck</option>'
            <option value='Hancock'>Hancock</option>'
            <option value='Hanover'>Hanover</option>'
            <option value='Harbor Springs'>Harbor Springs</option>'
            <option value='Harper Woods'>Harper Woods</option>'
            <option value='Hazel Park'>Hazel Park</option>'
            <option value='Hickory Crnrs'>Hickory Crnrs</option>'
            <option value='Highland'>Highland</option>'
            <option value='Highland Park'>Highland Park</option>'
            <option value='Hillsdale'>Hillsdale</option>'
            <option value='Holland'>Holland</option>'
            <option value='Holt'>Holt</option>'
            <option value='Houghton'>Houghton</option>'
            <option value='Houghton Lake'>Houghton Lake</option>'
            <option value='Howell'>Howell</option>'
            <option value='Hubbell'>Hubbell</option>'
            <option value='Hudsonville'>Hudsonville</option>'
            <option value='Indian River'>Indian River</option>'
            <option value='Interlochen'>Interlochen</option>'
            <option value='Iron Mountain'>Iron Mountain</option>'
            <option value='Ironwood'>Ironwood</option>'
            <option value='Ithaca'>Ithaca</option>'
            <option value='Jackson'>Jackson</option>'
            <option value='Jenison'>Jenison</option>'
            <option value='Jonesville'>Jonesville</option>'
            <option value='Kalamazoo'>Kalamazoo</option>'
            <option value='Kawkawlin'>Kawkawlin</option>'
            <option value='Lake Orion'>Lake Orion</option>'
            <option value='Lansing'>Lansing</option>'
            <option value='Lapeer'>Lapeer</option>'
            <option value='Laurium'>Laurium</option>'
            <option value='Leland'>Leland</option>'
            <option value='Leslie'>Leslie</option>'
            <option value='Lincoln Park'>Lincoln Park</option>'
            <option value='Linwood'>Linwood</option>'
            <option value='Livonia'>Livonia</option>'
            <option value='Ludington'>Ludington</option>'
            <option value='Madison Heights'>Madison Heights</option>'
            <option value='Mancelona'>Mancelona</option>'
            <option value='Manistee'>Manistee</option>'
            <option value='Manton'>Manton</option>'
            <option value='Marine City'>Marine City</option>'
            <option value='Marion'>Marion</option>'
            <option value='Marquette'>Marquette</option>'
            <option value='Marshall'>Marshall</option>'
            <option value='Marysville'>Marysville</option>'
            <option value='Mason'>Mason</option>'
            <option value='Mecosta'>Mecosta</option>'
            <option value='Menominee'>Menominee</option>'
            <option value='Merrill'>Merrill</option>'
            <option value='Michigamme'>Michigamme</option>'
            <option value='Middleton'>Middleton</option>'
            <option value='Midland'>Midland</option>'
            <option value='Milan'>Milan</option>'
            <option value='Milford'>Milford</option>'
            <option value='Millington'>Millington</option>'
            <option value='Mio'>Mio</option>'
            <option value='Monroe'>Monroe</option>'
            <option value='Montague'>Montague</option>'
            <option value='Mount Clemens'>Mount Clemens</option>'
            <option value='Mount Morris'>Mount Morris</option>'
            <option value='Mount Pleasant'>Mount Pleasant</option>'
            <option value='Mt Pleasant'>Mt Pleasant</option>'
            <option value='Munising'>Munising</option>'
            <option value='Muskegon'>Muskegon</option>'
            <option value='Muskegon Heights'>Muskegon Heights</option>'
            <option value='Nashville'>Nashville</option>'
            <option value='Naubinway'>Naubinway</option>'
            <option value='New Baltimore'>New Baltimore</option>'
            <option value='New Buffalo'>New Buffalo</option>'
            <option value='Niles'>Niles</option>'
            <option value='Northport'>Northport</option>'
            <option value='Northville'>Northville</option>'
            <option value='Norton Shores'>Norton Shores</option>'
            <option value='Novi'>Novi</option>'
            <option value='Oak Park'>Oak Park</option>'
            <option value='Okemos'>Okemos</option>'
            <option value='Onaway'>Onaway</option>'
            <option value='Owosso'>Owosso</option>'
            <option value='Oxford'>Oxford</option>'
            <option value='Paradise'>Paradise</option>'
            <option value='Parchment'>Parchment</option>'
            <option value='Peshawbestown'>Peshawbestown</option>'
            <option value='Petoskey'>Petoskey</option>'
            <option value='Pinckney'>Pinckney</option>'
            <option value='Pleasant Lake'>Pleasant Lake</option>'
            <option value='Plymouth'>Plymouth</option>'
            <option value='Pontiac'>Pontiac</option>'
            <option value='Port Huron'>Port Huron</option>'
            <option value='Port Sanilac'>Port Sanilac</option>'
            <option value='Portage'>Portage</option>'
            <option value='Redford'>Redford</option>'
            <option value='Richland'>Richland</option>'
            <option value='Riverview'>Riverview</option>'
            <option value='Rochester'>Rochester</option>'
            <option value='Rochester Hills'>Rochester Hills</option>'
            <option value='Rockford'>Rockford</option>'
            <option value='Rogers City'>Rogers City</option>'
            <option value='Romulus'>Romulus</option>'
            <option value='Roscommon'>Roscommon</option>'
            <option value='Roseville'>Roseville</option>'
            <option value='Royal Oak'>Royal Oak</option>'
            <option value='Saginaw'>Saginaw</option>'
            <option value='Saint Charles'>Saint Charles</option>'
            <option value='Saint Clair Shores'>Saint Clair Shores</option>'
            <option value='Saint Ignace'>Saint Ignace</option>'
            <option value='Saint Joseph'>Saint Joseph</option>'
            <option value='Saline'>Saline</option>'
            <option value='Saugatuck'>Saugatuck</option>'
            <option value='Sault S Marie'>Sault S Marie</option>'
            <option value='Shelby Township'>Shelby Township</option>'
            <option value='Sidney'>Sidney</option>'
            <option value='South Haven'>South Haven</option>'
            <option value='South Lyon'>South Lyon</option>'
            <option value='South Range'>South Range</option>'
            <option value='Southfield'>Southfield</option>'
            <option value='Southgate'>Southgate</option>'
            <option value='Sparta'>Sparta</option>'
            <option value='Springfield Township'>Springfield Township</option>'
            <option value='Stanton'>Stanton</option>'
            <option value='Sterling Heights'>Sterling Heights</option>'
            <option value='Stevensville'>Stevensville</option>'
            <option value='Sturgis'>Sturgis</option>'
            <option value='Suttons Bay'>Suttons Bay</option>'
            <option value='Sylvan Lake'>Sylvan Lake</option>'
            <option value='Taylor'>Taylor</option>'
            <option value='Tecumseh'>Tecumseh</option>'
            <option value='Three Rivers'>Three Rivers</option>'
            <option value='Topinabee'>Topinabee</option>'
            <option value='Traverse City'>Traverse City</option>'
            <option value='Trenton'>Trenton</option>'
            <option value='Troy'>Troy</option>'
            <option value='Union City'>Union City</option>'
            <option value='University Center'>University Center</option>'
            <option value='Van Buren Twp'>Van Buren Twp</option>'
            <option value='Vassar'>Vassar</option>'
            <option value='Wakefield'>Wakefield</option>'
            <option value='Walker'>Walker</option>'
            <option value='Warren'>Warren</option>'
            <option value='Washington'>Washington</option>'
            <option value='Waterford'>Waterford</option>'
            <option value='West Bloomfield'>West Bloomfield</option>'
            <option value='Westland'>Westland</option>'
            <option value='White Lake'>White Lake</option>'
            <option value='Wixom'>Wixom</option>'
            <option value='Wyandotte'>Wyandotte</option>'
            <option value='Wyoming'>Wyoming</option>'
            <option value='Ypsilanti'>Ypsilanti</option>'
            <option value='Zeeland'>Zeeland</option>'
        </select>
    </p>
        Filter by Industry: <br/>
        <select name='Industry'>
            <option value='All'>All Industries</option>
            <option value='Book Stores'>Book Stores</option>
            <option value='Retail Bakeries'>Retail Bakeries</option>
            <option value='Baked Goods Stores'>Baked Goods Stores</option>
            <option value='Museums'>Museums</option>
        </select>
        <p>
        <input type='submit' name='table' value='Get Foot Traffic as a Table'/>
    </p>
        <p>
            <input type='submit' name='plot' value='Get Foot Traffic as a Graph'/>
        </p>
        <p>
            <input type='submit' name='wordcloud' value='Click here to see the most frequently used words in #COVID19 Tweets'/>
        </p>
    </form>


</body>
</html>

