<!DOCTYPE html>
<html>
<head>
        <style>
                img {
                  width:800px;
                  height:800px;
                  object-fit:cover;
                }
                </style>
    <meta charset="UTF8"/>
    <title>Most Frequent Words for Tweets Containing #COVID19</title>
</head>
<body>
    <h1>Most Frequent Words for Tweets Containing #COVID19</h1>
    <i>This word cloud shows up to 100 of the most frequently used words for tweets that contain the "#COVID19" hashtag </i>
    <img src="data:image/png;base64, {{ word_cloud_url }}">
    <i>(Hope you find this interesting!)</i>
</body>
</html>